.clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }

body {
  background: wheat;
  margin: 0;
  padding:0;
}

.pagetop {
  background-color: white;
  padding: 30px;
  height: 30px;
  width: 100%;
  z-index: 20;
  border-bottom: 2px solid black;
}

.format{
  margin: 0% 20%;
}

#title {
  float: left;
  width: left;
}

#navigation {
  float: right;
}